{
    "db": {
        "host": "172.18.0.12",
        "port": "3306",
        "user": "root",
        "password": "root",
        "name": "amazon_crawler"
    },
    "proxy": {
        "socks-host": "socks4://127.0.0.1",
        "socks-port": "9050"
    },
    "selenium": {
        "host": "http://localhost:4444/wd/hub"
    },
    "system": {
        "sleep": 3,
        "sleep-ajax": 1
    },
    "target": {
        "domain": "https://www.domain.com.br",
        "first-node": "/path/product-id"
    }
}
